<div class="mx-auto text-center mb-16 pt-20">
        
  <h3 class="font-heading mb-6 text-4xl font-semibold">Get an appointment to get visa processing service in Bangladesh</h3>
  <div class="flex flex-col md:flex-row justify-between items-center max-w-6xl mx-auto">
    <div class="w-full md:w-1/2 text-left p-6">
      <p class="text-gray-600 mb-6">
        The first step in getting help from Tourisita is to schedule an appointment. If applicants want to visit our office personally for visa processing advice, they need to book an appointment with Tourisita in advance. The only branch of Tourisita Bangladesh is located in Dhaka. </p>
        <p class="text-gray-600 mb-6">
Applicants will get an option named "Appointment" on the Tourisita website. They need to click on the appointment portal and choose their visa type. They will then get the interface of the available slot. Picking up the preferable slot will ensure getting assistance from Tourisita. Do not forget to bring all your original documents with you. </p>
<p class="text-gray-600 mb-6">
After making an appointment, visit our office on time. Tourisita experts will help you to solve your every query. Tourisita is open every Saturday to Thursday from 9:30 AM to 6:30 PM.
      </p>
      <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
        <a href="/expert" class="inline-block px-6 py-3 bg-darkSky text-white font-semibold rounded-lg hover:bg-lightPurple transition duration-300">Book an Appointment</a>
        <a href="https://wa.me/8801924661080" class="inline-flex items-center px-6 py-3 bg-darkSky text-white font-semibold rounded-lg hover:bg-lightPurple transition duration-300">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone mr-2">
            <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"/>
          </svg>
          WhatsApp Us
        </a>
      </div>
    </div>
    <div class="w-full md:w-1/2 flex justify-center items-center mt-8 md:mt-0">
      <img src="/public/img/paperwork.png" alt="Visa Paperwork" class="max-w-full h-auto rounded-lg shadow-lg">
    </div>
  </div>
  
</div>