<!DOCTYPE html>
<html lang="en">
<head>
    <title>TOURISTA | Travel Made Easy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="public/css/tailwind.min.css">
    <link rel="shortcut icon" href="https://tourista.co/img/favicon.ico">


    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>

    <!-- <script src="public/js/menu.js"></script> -->
    <style>
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    </style>
    <script>
      document.addEventListener('alpine:init', () => {
          Alpine.store('globalData', {
              uri: window.location.pathname,
          })
          console.log('current path: ',window.location.pathname)
      })
    </script>

</head>
<body class="antialiased bg-body text-body font-body">
    <div class="">