<%- include('partials/Header') %>

    <main class="font-[Onest]">
      <%- include('partials/menu') %>
      <!--Expert Help Form -->
      <section x-data="$store.expertHelpStore">
        <div class="flex flex-col items-center justify-center my-4 bg-gray-100">
          <div class="mt-10">
            <h1 class="m-2 ml-2 block p-4 text-xl md:text-2xl md:font-semibold text-purple-700 ">Complete this form to Meet Our Expert Team</h1>
          </div>
          <div class="grid grid-cols-1 pt-4 lg:grid-cols-2 lg:gap-4">
            <div class="flex flex-col items-start justify-start">
              <label for="fullname" class="mb-2 ml-2 block md:text-lg md:font-semibold">Full Name</label>
              <input type="text" id="fullname" name="fullname" class="mt-1 rounded-3xl border border-purple-950 bg-white py-3 pl-3 pr-10 focus:border-blue-500 focus:outline-none md:text-lg" />
            </div>
            <div class="flex flex-col items-start justify-start">
              <label for="email" class="mb-2 ml-2 block md:text-lg md:font-semibold">Email</label>
              <input type="text" id="email" name="email" class="mt-1 rounded-3xl border border-purple-950 bg-white py-3 pl-3 pr-10 focus:border-blue-500 focus:outline-none md:text-lg" />
            </div>
            <div class="flex flex-col items-start justify-start">
              <label for="mobile" class="mb-2 ml-2 block md:text-lg md:font-semibold">Mobile</label>
              <input type="text" id="mobile" name="mobile" class="mt-1 rounded-3xl border border-purple-950 bg-white py-3 pl-3 pr-10 focus:border-blue-500 focus:outline-none md:text-lg" />
            </div>
            <div class="flex flex-col items-start justify-start">
              <label for="profession" class="mb-2 ml-2 block md:text-lg md:font-semibold">Profession</label>
              <select id="profession" name="profession" class="w-full appearance-none rounded-3xl border border-purple-950 bg-white py-3 pl-3 pr-10 focus:border-blue-500 focus:outline-none md:text-lg">
                <option value="Bangladesh">Bangladesh - BD</option>
                <option value="India">India - IN</option>
                <!-- Add more options as needed -->
              </select>
            </div>
            <div class="flex flex-col items-start justify-start">
              <label for="profession" class="mb-2 ml-2 block md:text-lg md:font-semibold">Visa Category</label>
              <select id="profession" name="profession" class="w-full appearance-none rounded-3xl border border-purple-950 bg-white py-3 pl-3 pr-10 focus:border-blue-500 focus:outline-none md:text-lg">
                <option value="Bangladesh">Tourist Visa</option>
                <option value="India">Medical Visa</option>
                <!-- Add more options as needed -->
              </select>
            </div>
            <div class="flex flex-col items-start justify-start">
              <label for="profession" class="mb-2 ml-2 block md:text-lg md:font-semibold">Country</label>
              <select id="profession" name="profession" class="w-full appearance-none rounded-3xl border border-purple-950 bg-white py-3 pl-3 pr-10 focus:border-blue-500 focus:outline-none md:text-lg">
                <option value="Bangladesh">Thailand</option>
                <option value="India">Dubai</option>
                <!-- Add more options as needed -->
              </select>
            </div>
            <div class="flex flex-col items-start justify-start lg:col-span-2">
              <label for="profession" class="mb-2 ml-2 block md:text-lg md:font-semibold">Help Type</label>
              <select id="profession" name="profession" class="w-full appearance-none rounded-3xl border border-purple-950 bg-white py-3 pl-3 pr-10 focus:border-blue-500 focus:outline-none md:text-lg">
                <option value="Bangladesh">Visa Assistance</option>
                <option value="India">Paper Processing</option>
                <!-- Add more options as needed -->
              </select>
            </div>
            <div class="flex flex-col items-start justify-start lg:col-span-2">
              <label for="comment" class="mb-2 ml-2 block md:text-lg md:font-semibold">Comment</label>
              <textarea id="comment" name="comment" cols="22" class="mt-1 resize rounded-3xl border border-purple-950 bg-white py-3 pl-3 pr-10 focus:border-blue-500 focus:outline-none md:text-lg"></textarea>
            </div>
            <div class="flex flex-col items-start justify-start lg:col-span-2 mb-10">
              <div class="w-full rounded-xl mt-4 bg-gradient-to-r from-violet-500 to-purple-600 hover:from-violet-800 hover:to-purple-400 hover:border-2 hover:shadow-lg hover:border-white md:mt-8">
                    <button class="w-full px-2 py-3 md:text-lg md:font-semibold text-white" id="submitbtn" @click="$store.expertHelpStore.submitForm()">Get Started!</button>
                  </div>
            </div>
          </div>
          
        </div>
      </section>
      <!--Expert Help Form End -->
      
      <section class="py-20 overflow-hidden font-[Onest]">
        <div class="container px-4 mx-auto">
          <div class="max-w-xl mx-auto text-center mb-16">
            
            <h3 class="font-heading mb-6 text-4xl font-semibold">Contact Us</h3>
            <p class="text-base text-gray-500 font-medium">Ready to elevate your travel experience with Tourista? Contact us today to learn more about how we can help you.</p>
          </div>
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <div class="text-center">
                <div class="inline-block mx-auto mb-8">
                  <div class="flex items-center justify-center w-11 h-11 text-indigo-600 bg-white border border-gray-200 rounded-full shadow-secondary">
                    <div class="">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layout-grid"><rect width="7" height="7" x="3" y="3" rx="1"/><rect width="7" height="7" x="14" y="3" rx="1"/><rect width="7" height="7" x="14" y="14" rx="1"/><rect width="7" height="7" x="3" y="14" rx="1"/></svg></div>
                  </div>
                </div>
                <h4 class="font-heading mb-5 text-3xl font-semibold">Address</h4>
                <p class="text-lg text-gray-700 font-medium">67/C, Block E, Road 11, Level 04, Banani, Dhaka 1213, Bangladesh</p>
              </div>
            </div>
            <div class="w-full md:w-1/3 p-3">
              <div class="text-center">
                <div class="inline-block mx-auto mb-8">
                  <div class="flex items-center justify-center w-11 h-11 text-indigo-600 bg-white border border-gray-200 rounded-full shadow-secondary">
                    <div class="">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"/></svg></div>
                  </div>
                </div>
                <h4 class="font-heading mb-5 text-3xl font-semibold">Phone</h4>
                <p class="text-lg text-gray-700 font-medium">+880 1711-925054</p>
              </div>
            </div>
            <div class="w-full md:w-1/3 p-3">
              <div class="text-center">
                <div class="inline-block mx-auto mb-8">
                  <div class="flex items-center justify-center w-11 h-11 text-indigo-600 bg-white border border-gray-200 rounded-full shadow-secondary">
                    <div class="">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg></div>
                  </div>
                </div>
                <h4 class="font-heading mb-5 text-3xl font-semibold">Email</h4>
                <p class="text-lg text-gray-700 font-medium"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fd9598919192bd8d919c9493cfd39e9290">info@tourista.co</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
                
      <section class="pt-16 overflow-hidden bg-gray-100 font-[Onest]"><div class="container px-4 mx-auto">
          <div class="p-8 mb-14 bg-white border border-slate-200 rounded-xl">
            <div class="flex flex-wrap items-center -m-4">
              <div class="w-full md:w-1/2 p-4">
                <div class="md:max-w-lg">
                  <h6 class="font-heading mb-3 text-xl font-semibold">Subscribe to our newsletter</h6>
                  <p class="text-base text-gray-500 font-medium">Sign up for travel inspiration and exclusive offers</p>
                </div>
              </div>
              <div class="w-full md:w-1/2 p-4">
                <div class="flex flex-wrap lg:justify-end -m-2">
                  <div class="w-full lg:w-auto p-2">
                    <div class="lg:w-72">
                      <input type="text" placeholder="Enter you email address" class="flex px-4 py-3 w-full text-base disabled:text-gray-900 font-medium bg-white hover:bg-gray-50 disabled:bg-indigo-100 placeholder-gray-500 outline-none hover:placeholder-gray-600 active:ring-3 active:ring-indigo-600 active:ring-opacity-40 border border-indigo-200 disabled:border-none rounded-xl shadow-secondary disabled:shadow-none transition duration-200"></div>
                  </div>
                  <div class="w-auto p-2">
                    <a href="/" class="inline-flex justify-center text-center px-4 py-3 font-medium text-white hover:bg-indigo-700 focus:bg-indigo-700 focus:ring-3 focus:ring-indigo-600 focus:ring-opacity-40 rounded-xl shadow-1 transition duration-200 bg-purple-600">
                      <span class="inline-flex items-center">Subscribe</span>
                      <span class=""></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pb-12 border-b border-slate-100">
            <div class="flex flex-wrap -m-8">
              <div class="w-full md:w-1/2 lg:w-4/12 p-8">
                <div class="max-w-xs">
                  <div class="mb-6">
                    <img src="https://tourista.co/img/tl-01.png" alt="" class="h-10"></div>
                  <p class="text-base text-gray-500 font-medium">Creating unforgettable journeys, tailor-made to meet your every need. Your adventure starts with us.</p>
                </div>
              </div>
              <div class="w-full md:w-1/2 lg:flex-1 p-8">
                <p class="mb-4 inline-block font-semibold text-sm text-gray-300">Navigation Links</p>
                <ul><li class="mb-3"><a href="/" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">Home</a></li>
                  <li class="mb-3"><a href="/services" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">Features</a></li>
                  <li class="mb-3"><a href="/services" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">Partner Program</a></li>
                  <li class="mb-3"><a href="/about" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">About Us</a></li>
                  <li><a href="/contact" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">Contact Us</a></li>
                </ul></div>
              <div class="w-full md:w-1/2 lg:flex-1 p-8">
                <p class="mb-4 inline-block font-semibold text-sm text-gray-300">Product</p>
                <ul><li class="mb-3"><a href="/services" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">How it works</a></li>
                  <li class="mb-3"><a href="/services" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">Benefits</a></li>
                  <li class="mb-3"><a href="https://tourista.co/" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">Case studies</a></li>
                  <li class="mb-3"><a href="https://tourista.co/" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">Testimonials</a></li>
                  <li><a href="/services" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">FAQs</a></li>
                </ul></div>
              <div class="w-full md:w-1/2 lg:flex-1 p-8">
                <p class="mb-4 inline-block font-semibold text-sm text-gray-300">Resources</p>
                <ul><li class="mb-3"><a href="https://tourista.co/" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">Blog</a></li>
                  <li class="mb-3"><a href="https://tourista.co/" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">Whitepapers</a></li>
                  <li class="mb-3"><a href="https://tourista.co/" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">E-books</a></li>
                  <li class="mb-3"><a href="https://tourista.co/terms" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">Terms &amp; Condition</a></li>
                  <li><a href="/privacy" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">Privacy Policy</a></li>
                </ul></div>
              <div class="w-full md:w-1/2 lg:flex-1 p-8">
                <p class="mb-4 inline-block font-semibold text-sm text-gray-300">Social Media</p>
                <ul><li class="mb-3"><a href="https://www.facebook.com/FlyTourista" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">Facebook</a></li>
                  <li class="mb-3"><a href="https://www.facebook.com/FlyTourista" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">Twitter</a></li>
                  <li class="mb-3"><a href="https://www.facebook.com/FlyTourista" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">Github</a></li>
                  <li class="mb-3"><a href="https://www.facebook.com/FlyTourista" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">Instagram</a></li>
                  <li><a href="https://www.linkedin.com/company/touristalimited" class="inline-block font-medium text-base text-gray-500 hover:text-gray-600">Linkedin</a></li>
                </ul></div>
            </div>
          </div>
          <div class="py-8 text-center">
            <p class="text-base text-gray-500 font-medium">© 2024 Tourista Limited. All rights reserved.</p>
          </div>
        </div>
      </section>
    </main>

<script src="public/js/expert.js"></script>
<%- include('partials/Footer') %>

