<%- include('partials/Header') %>

    <main class="font-[Onest]">
      <%- include('partials/menu') %>
     
      <!-- About Tourista -->
      <section>
        
          <div class="flex flex-col">
            <div class="md:py-30 mt-10 flex justify-start px-10 py-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24" fill="none" stroke="#8A52BA" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-grip -mt-4" opacity="0.16">
                <circle cx="12" cy="5" r="1" />
                <circle cx="19" cy="5" r="1" />
                <circle cx="5" cy="5" r="1" />
                <circle cx="12" cy="12" r="1" />
                <circle cx="19" cy="12" r="1" />
                <circle cx="5" cy="12" r="1" />
                <circle cx="12" cy="19" r="1" />
                <circle cx="19" cy="19" r="1" />
                <circle cx="5" cy="19" r="1" />
              </svg>
              <h1 class="-ml-11 mt-5 text-3xl font-bold md:text-4xl">Privacy Policy</h1>
            </div>
            <div class="md:px-10 py-4 px-4">
              <div class="bib blt jq pz">
                <div class="p-4">
                  <p class="font-bold py-2">Last Updated: April 24th, 2024</p>
            <p class="py-4 px-2">Welcome to the website of Tourista by Document Advisor Inc. ("Tourista," "we," "us," or "our"). This Privacy Policy (the "Policy") describes how we collect, use, and disclose the information we collect from our websites, our travel visa and other online services (collectively with the website, the "Services"), and information we collect offline.</p>
            <p class="py-4 px-2">Before using the Services or otherwise providing us with information, please carefully review this Policy. By accessing or using any part of the Services, or otherwise providing us with information, you acknowledge the applicability of this Policy.</p>
            <h2 class="font-bold text-lg">Information We Collect</h2>
            <p class="py-4 px-2">We may collect information in different ways, such as when you provide information directly to us, when we passively collect information from you, such as through a browser or device, or from third parties.</p>
            <h3 class="font-bold text-lg">Information You Provide Directly to Us</h3>
            <p class="py-4 px-2">We may collect information from you when you provide such information directly to us, such as in the following situations:</p>
            <ul class="space-y-2">
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>When you contact us with inquiries;</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>When you respond to one of our surveys;</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>When you register for access to our Services, or use or purchase certain of our Services like applying for travel visas;</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>When you otherwise communicate with us, including through our support channels (email, online chat, or phone);</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>When you request certain features (e.g. newsletters, updates); or</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>When you otherwise provide us with information.</p>
              </li>
            </ul>
            <p class="py-4 px-2">Information we request from you may depend on how you use our Services; for example, the type of information we request you provide to us may depend on the type of travel visa you request and local governmental requirements. The information you provide directly to us may include, but is not limited to the following about you or others:</p>
            <ul class="space-y-2">
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Name</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Email</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Phone number</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Travel details, such as arrival date, port of arrival, reason for travel</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Address</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Date of birth</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>City and country of birth</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Citizenship</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Gender</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Passport information, such as a passport number, issue and expiration date, photo, and place of issue</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Social security number</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Religion</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Family information, such as the names of family members</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Professional details, such as occupation and employer name; and</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Financial information, such as payment-related information you provide to us and/or our payment processors.</p>
              </li>
            </ul>
            <h3 class="font-bold text-lg py-2">Information That is Passively or Automatically Collected</h3>
            <h4 class="py-2">Device/Usage Information</h4>
            <p class="py-4 px-2">We may automatically collect certain information about the computer or devices (including mobile devices or tablets) you use to access the Services. As described further below, we may collect and analyze information such as (a) IP addresses, general location information (e.g. inferred from a IP address), unique device identifiers, IMEI and TCP/IP address, and other information about your computer or device(s), browser types, browser language, operating system, mobile device carrier information, the state or country from which you accessed the Services; and (b) information related to the ways in which you interact with the Services, such as: referring and exit web pages and URLs, platform type, the number of clicks, domain names, landing pages, pages and content viewed and the order of those pages, statistical information about the use of the Services, the amount of time spent on particular pages, the date and time you used the Services, the frequency of your use of the Services, error logs, and other similar information. For example, we and/or our vendors may collect mouse movements and how you scroll through our website, but we do not collect keystroke data. As described further below, we may use third-party analytics providers and technologies, including cookies and similar tools, to assist in collecting this information.</p>
            <h4 class="py-2">Cookies and Other Electronic Technologies</h4>
            <p class="py-4 px-2">We may also collect data about your use of the Services through the use of Internet server logs, cookies and/or tracking pixels. A web server log is a file where website activity is stored. A cookie is a small text file that is placed on your computer when you visit a website, that enables us to: (i) recognize your computer; (ii) store your preferences and settings; (iii) understand the web pages of the Services you have visited; (iv), enhance your user experience by delivering content specific to your interests; (v) perform searches and analytics; and (vi) assist with security administrative functions. Tracking pixels (sometimes referred to as web beacons or clear GIFs) are tiny electronic tags with a unique identifier embedded in websites, online ads and/or email, and that are designed to provide usage information like ad impressions or clicks, measure popularity of the Services and associated advertising, and to access user cookies. As we adopt additional technologies, we may also gather additional information through other methods.</p>
            <p class="py-4 px-2">Please note that you can change your settings to notify you when a cookie is being set or updated, or to block cookies altogether. Please consult the "Help" section of your browser for more information (e.g <a href="https://support.microsoft.com/en-us/search?query=enable%20cookies%20in%20edge" target="_blank" rel="nofollow">Microsoft Edge</a> <a href="https://support.google.com/chrome/answer/95647?hl%3Den" target="_blank" rel="nofollow">Google Chrome</a> <a href="http://kb.mozillazine.org/Cookies%23Firefox" target="_blank" rel="nofollow">Mozilla Firefox</a> or <a href="http://support.apple.com/kb/PH5042" target="_blank" rel="nofollow">Apple Safari</a> Please note that by blocking any or all cookies, you may not have access to certain features or offerings of the Services.</p>
            <h2 id="information-collected-from-third-parties">Information Collected From Third Parties</h2>
            <p class="py-4 px-2">We may obtain information about you from various third parties, such as social media companies or other sites. For example, you may be able to access the Services or create an account for the Services through a third-party account, such as Facebook or Google. You may also be able to "like" or post on our social media pages. If you access the Services through a third-party account or follow us on social media, you may allow us to have access to certain information in your social media profile. This may include your name, profile picture, gender, networks, user IDs, list of friends, location, date of birth, email address, photos, videos, people you follow and/or who follow you, and/or your posts or "likes." These third-party sites have their own policies for handling your information. For a description of how these sites may use and disclose your information, including any information you make public, please consult the sites' privacy policies. We have no control over how any third-party site uses or discloses the personal information it collects about you.</p>
            <p class="py-4 px-2">Please note that we may combine information that we collect from you and about you (including automatically-collected information) with information we obtain about you from our affiliates and/or non-affiliated third parties, and use such combined information in accordance with this Policy.</p>
            <h2 id="our-use-of-your-personal-data-and-other-information-we-collect">Our Use of Your Personal Data and Other Information We Collect</h2>
            <p class="py-4 px-2">We may use the information we collect from and about you for the following purposes:</p>
            <ul class="space-y-2">
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>For the reasons for which the information was provided:</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>To provide the Services</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>To respond to your questions and other inquiries</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>To monitor your use of the Services</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>To request your feedback</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>To communicate with you about transactions initiated with us</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>To improve the Services or develop new products and features</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>To contact you with advertising, surveys, or other information that may be of interest to you</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>To personalize the Services</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>To enforce the legal terms that govern your use of the Services</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>To protect Tourista, our employees, or third parties; and/or</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>To administer and troubleshoot the services.</p>
              </li>
            </ul>
            <p class="py-4 px-2">We may aggregate and/or de-identify information collected through the Services. We may use de-identified and/or aggregated data for any purpose, including without limitation for research and marketing purposes, and may also share such data with any third parties, including advertisers, promotional partners, sponsors, and/or others.</p>
            <h2 id="our-disclosure-of-your-personal-data-and-other-information">Our Disclosure of Your Personal Data and Other Information</h2>
            <p class="py-4 px-2">We may disclose the information we collect in the following circumstances:</p>
            <ul class="space-y-2">
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Business Transfers. As we develop our business, we might sell or buy businesses or assets. In the event of a corporate sale, merger, reorganization, dissolution or similar event, or during negotiations or due diligence in contemplation of such an event, information we collect may be disclosed.</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Related Companies. We may also share your information with our affiliates and other related companies for purposes consistent with this Privacy Policy.</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Agents, Consultants, and Third-Party Vendors. Like many businesses, we may engage third parties to perform certain services on our behalf. Examples of such functions include mailing information (FedEx or UPS), using visa agents to visit embassies, maintaining databases, and processing payments.</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Consent. We may disclose your information to any third parties based on your consent to do so.</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Legal Requirements. We may disclose information about you if required to do so by law or in the good faith belief that such action is necessary to (i) comply with a legal obligation, (ii) protect and defend the rights or property of Tourista, (iii) act in urgent circumstances to protect the personal safety of our users or the public, or (iv) protect against legal liability.</p>
              </li>
            </ul>
            <h2 id="online-analytics-and-tailored-advertising">Online Analytics and Tailored Advertising</h2>
            <h3 class="font-bold text-lg">Online Analytics</h3>
            <p class="py-4 px-2">We may use third-party web analytics services on our Services, such as those of Google Analytics. These service providers use the sort of technology previously described in the "Cookies and other electronic technologies" section to help us analyze how users use the Services, including by noting the third-party website from which you arrive, and provide certain features to you. We may use these service providers to collect on a real-time basis information on how you use and navigate our websites. The information (including your IP address) collected by the technology will be disclosed to or collected directly by these service providers, who use the information to evaluate your use of the Services. To prevent Google Analytics from using your information for analytics, you may install the Google Analytics Opt-out Browser Add-on by <a href="http://tools.google.com/dlpage/gaoptout" target="_blank" rel="nofollow">clicking here</a></p>
            <p class="py-4 px-2">If you receive email from us, we may use certain tools, such as clear GIFs to capture data such as when you open our message or click on any links or banners our email contains. This data allows us to gauge the effectiveness of our communications.</p>
            <h3 class="font-bold text-lg">Tailored Advertising</h3>
            <p class="py-4 px-2">The Services may integrate third-party advertising technologies that allow for the delivery of relevant content and advertising on the Services, as well as on other websites you visit and other applications you use. These cookies and other tracking technologies may be placed on your computer, mobile phone, or other device to collect information about your use of the Services in order to (a) inform, optimize, and serve marketing content based on past visits to our websites and other sites and (b) report how our marketing content impressions, other uses of marketing services, and interactions with these marketing impressions and marketing services are related to visits to our websites. We also allow other third parties (e.g., ad networks and ad servers such as Google Analytics) to serve tailored marketing to you and to access their own cookies or other tracking technologies on your computer, mobile phone, or other device you use to access the Services. We neither have access to, nor does this Policy govern, the use of cookies or other tracking technologies that may be placed on your computer, mobile phone, or other device you use to access the Services by non-affiliated, third-party ad technologies, ad servers, ad networks or any other non-affiliated third parties. Those parties that use these technologies may offer you a way to opt out of targeted advertising as described below. You may receive tailored advertising on your computer through a web browser. Cookies may be associated with de-identified data linked to or derived from data you voluntarily have submitted to us (e.g., your email address) that we may share with a service provider in hashed, non-human-readable form.</p>
            <p class="py-4 px-2">If you are interested in more information about tailored browser advertising and how you can generally control cookies from being put on your computer to deliver tailored marketing, you may visit the Network Advertising Initiative's ("NAI") <a href="http://www.networkadvertising.org/choices" target="_blank" rel="nofollow">Consumer Opt-Out Link</a> and/or the Digital Advertising Alliance's ("DAA") Consumer <a href="http://www.aboutads.info/choices" target="_blank" rel="nofollow">Opt-Out Link</a> to opt-out of receiving tailored advertising from companies that participate in those programs. To opt out of Google Analytics for Display Advertising or customize Google Display Network ads, you can visit the <a href="https://www.google.com/settings/ads" target="_blank" rel="nofollow">Google Ads Settings page</a>. Please note that to the extent advertising technology is integrated into the Services, you may still receive advertising content even if you opt out of tailored advertising. In that case, the advertising content will just not be tailored to your interests. Also, we do not control any of the above opt-out links and are not responsible for any choices you make using these mechanisms or the continued availability or accuracy of these mechanisms. If your browsers are configured to reject cookies when you visit this opt-out page, or you subsequently erase your cookies, use a different computer or change web browsers, your NAI or DAA opt-out may no longer be effective. Additional information is available on NAI's and DAA's websites, accessible by the above links.</p>
            <h2 id="your-choices">Your Choices</h2>
            <p class="py-4 px-2">Subject to applicable laws, you may have certain choices available regarding your information.</p>
            <ul class="space-y-2">
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Account Information. You may access certain of your information and delete or modify that information by accessing and editing your account profile.</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Marketing Emails. Subject to applicable laws, we may send you marketing emails. To opt out, you may click on the "unsubscribe" link in such emails. Please note that we may still send you transactional communications, such as about the status of your travel visa, even if you opt out of marketing emails.</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Cookies &amp; Analytics. You can opt out of certain cookie-related and analytics processing by following the instructions in this Policy.</p>
              </li>
              <li class="flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-purple-600 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <p>Region-Specific Notices and Choices. Please visit this section for notices and choices specific to certain geographic regions.</p>
              </li>
            </ul>
            <h2 id="retention-of-the-information-we-collect">Retention of the Information We Collect</h2>
            <p class="py-4 px-2">We will retain your information for as reasonably necessary to provide the Services or until you delete or modify your information. We also reserve the right to retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>
            <h2 id="security">Security</h2>
            <p class="py-4 px-2">We have implemented administrative, technical, and physical security measures to protect against the loss, misuse and/or alteration of your information. These safeguards vary based on the sensitivity of the information that we collect and store. However, we cannot and do not guarantee that these measures will prevent every unauthorized attempt to access, use, or disclose your information since despite our efforts, no Internet and/or other electronic transmissions can be completely secure.</p>
            <h2 id="consent-to-transfer-information">Consent to Transfer Information</h2>
            <p class="py-4 px-2">We currently maintain computer systems in the United States, so your personal information may be processed by us or our vendors in the United States, where data protection and privacy regulations may not offer the same level of protection as in other parts of the world, and data may be accessible to law enforcement and national security authorities under certain circumstances. By using the Services, you agree to this Policy and you consent to the transfer of all such information to the United States, which may not offer a level of protection equivalent to that required in the European Union, United Kingdom, or certain other countries, and to the processing of that information as described in this Policy.</p>
            <h2 id="childrens-privacy">Children's Privacy</h2>
            <p class="py-4 px-2">The Services are not designed for minors under 18. If you are under the age of 18, please do not submit any personal information to us. If you have reason to believe that a child has provided us with personal information, please contact us, and we will endeavor to delete that information from our databases where required by applicable law.</p>
            <h2 id="links-to-other-websites-and-services">Links to Other Websites and Services</h2>
            <p class="py-4 px-2">This Policy applies only to our Services. Our Services may contain links to other websites not operated or controlled by Tourista (the "Third-Party Sites"). The policies and procedures we described here do not apply to the Third-Party Sites. Inclusion of such links does not imply our endorsement or review of the Third-Party Sites. We encourage our users to be aware when they leave our Services and to read the privacy statements of every site they visit that collects their information.</p>
            <h2 id="changes-to-this-policy">Changes to this Policy</h2>
            <p class="py-4 px-2">We reserve the right to change this Policy at any time including to reflect changes in the law, our data collection and use practices, the features of our Services, or advances in technology. Please check this page periodically for changes. Your continued use of the Services following the posting of changes to this Policy will mean you accept those changes.</p>
            <h2 id="contact-us">Contact Us</h2>
            <p class="py-4 px-2">You may contact us for immediate support on <a href="https://wa.link/xng331" target="_blank" rel="nofollow">WhatsApp</a> at +880 1711-925054 or our webchat on our Contact Us page</p>
                </div>
              </div>
            </div>
          </div>
        
      </section>
      <%- include('partials/Bottom') %>
    </main>

<%- include('partials/Footer') %>

