<%- include('partials/Header') %>

    <main class="font-[Onest]">
      <%- include('partials/menu') %>
     
      <!-- About Tourista -->
      <section>
        
          <div class="flex flex-col">
            <div class="md:py-30 mt-10 flex justify-start px-10 py-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24" fill="none" stroke="#8A52BA" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-grip -mt-4" opacity="0.16">
                <circle cx="12" cy="5" r="1" />
                <circle cx="19" cy="5" r="1" />
                <circle cx="5" cy="5" r="1" />
                <circle cx="12" cy="12" r="1" />
                <circle cx="19" cy="12" r="1" />
                <circle cx="5" cy="12" r="1" />
                <circle cx="12" cy="19" r="1" />
                <circle cx="19" cy="19" r="1" />
                <circle cx="5" cy="19" r="1" />
              </svg>
              <h1 class="-ml-11 mt-5 text-3xl font-bold md:text-4xl">Terms of Service</h1>
            </div>
            <div class="md:px-10 py-4 px-4">
              <div class="ko oh ok">
                
          <p class="p-4">Effective Date: August 30th, 2024</p>
          <p class="p-4">Welcome to Tourista, a service provided by Document Advisor, Inc. (“Tourista”, “we”, or “us”). This document explains the terms under which you may use our online and/or mobile services, including the Tourista website, our mobile applications and other software provided in connection with our services, the content we publish on the websites, video platforms, blogs, and other online resources (collectively, “Content”), and any products or services you obtain through our websites or applications, including travel documents (all of which we collectively refer to as the “Service”). </p>
          <h2 class="font-bold"  id="this-is-our-contract">This is Our Contract</h2>
          <p class="p-4">By accessing or using the Service, or by clicking a button or checking a box marked “Accept” (or something similar), you signify that you have read, understand, and agree to be bound by these Terms of Service (this “Agreement”), any other contract terms you agree with, and to the collection, use, and certain disclosures of your information as set forth in our <a href="/privacy/">Privacy Policy</a>.  This Agreement applies to all visitors, users, and others who access or use the Service, whether or not you establish an account with our Service (“Users”).  Please review this Agreement carefully.   If you do not agree to the terms in this Agreement, you do not have the right to access or use our Service. If you do register for an account or otherwise use our Service, you shall be deemed to confirm your agreement to be a party to this binding contract.</p>
          <p class="p-4">In this Agreement, the terms “you” and “yours” refers to each User, or in the case of a use of the Service by or on behalf of a minor, “you” and “yours” refer to and include (i) the parent or legal guardian who provides consent to the use of the Service by such minor or uses the Service on behalf of the minor, and (ii) the minor for whom consent is being provided or on whose behalf the Service is being utilized. Notwithstanding the foregoing, the Service is not intended for individuals under the age of eighteen (18) to use without their parent or guardian supervision and approval, and individuals under the age of eighteen (18) are prohibited from using all or any part of the Service or entering into this Agreement without such supervision and approval. Please contact us if you are a parent or legal guardian of an individual under the age of eighteen (18) who you believe has used the Service without your consent.</p>
          <p class="p-4">Arbitration Notice: Please note that one element of this Agreement is your confirmation that disputes between you and us arising out of or related to this Agreement or any element of the Service will be resolved by our Binding Arbitration / Class Waiver and you waive your rights to a jury trial and to participate in a class action lawsuit or class-wide arbitration, as further set forth below. </p>
          <h2 class="font-bold"  id="user-accounts-information-and-passwords">User Accounts, Information, and Passwords</h2>
          <p class="p-4">You are welcome to browse our websites and our other publicly available Content without creating a User account, but you must register and provide the information necessary to create an account in order to use our mobile applications, place an order on our website, or utilize any other parts of our Service. We refer to this as your "Basic User Information". We encourage you to use a distinct and non-obvious password that is different from passwords you use for any other service, and ensure that you log out of your account at the end of each session when accessing the Service. You are responsible for maintaining the accuracy, completeness, and confidentiality of your Basic User Information, and you will be responsible for all activities that occur under your account, including activities of others to whom you have provided your Basic User Information. We will not be liable for any loss or damage arising from your failure to provide us with accurate information or to keep your Basic User Information secure. If you discover any unauthorized use of your Basic User Information or suspect that anyone may be able to access your private Content without authorization, you should immediately change your password and notify our Customer Support team. </p>
          <h2 class="font-bold"  id="your-relationship-with-us">Your Relationship with Us</h2>
          <p class="p-4">By accepting this Agreement, you acknowledge and agree that Tourista is not owned, operated, sponsored, endorsed by, or affiliated to any government or governmental agency and that by using the Service, you are not obtaining legal or other regulatory advice from Tourista. This remains true even if you obtain any travel documentation from us.  The Content we provide is for information purposes only and is not a substitute for legal advice. Tourista recommends you obtain advice from your legal advisor regarding your visa and other documentation requirements.</p>
          <p class="p-4">Additionally, if you elect to obtain documentation from us, you consent to us using electronic and phone communications, including unencrypted email, chat or calls within our Tourista website and/or our mobile applications, and other information technology, or other means to enable communications with you, including the sharing of your personal information with you and other parties as described in our <a href="/privacy/">Privacy Policy</a> . You acknowledge you are assuming the risks associated with transmitting data over the Internet or other telecommunication services. </p>
          <p class="p-4">When using our Service, you are establishing a direct customer relationship with us in connection with your purchase of any of our products sold directly to you by Tourista via the Service. </p>
          <h2 class="font-bold"  id="privacy-and-security">Privacy and Security</h2>
          <p class="p-4">By using the Service, you consent to the collection, use, and disclosure of your Personal Information and aggregate and/or anonymized data as set forth in our <a href="/privacy/">Privacy Policy</a>.
          We care about your privacy and the security of your Personal Information and we and you each have responsibilities in this regard.  Of course, you will need to obtain a computer to access your account through a web browser or by installing our mobile applications on your personal computing devices. (Obtaining those devices and paying for their connectivity and data plans is your responsibility.) In addition, persons with access to your computer, phone, or mobile or other devices may be able to access the Service and information about you, including Personal Information, contained in the Service. It is your responsibility to affirmatively logout from your account when you are not actively using it.  Tourista assumes no responsibility for the security of your computing devices, communications choices, the availability or security of the Internet or other telecommunication services necessary to access the Service, including any communications between you and our Service.</p>
          <p class="p-4">We are focused upon protecting your information in our possession against unauthorized access, and we implement a number of security measures to do so, some of which are described in our <a href="/privacy/">Privacy Policy</a>. However, the Service runs on software, hardware, and distributed computer networks, any component of which may, from time to time, require maintenance or experience problems or breaches of security beyond our control.  Accordingly, we cannot guarantee that unauthorized third parties will never be able to defeat our security measures or use your Personal Information for improper purposes. You acknowledge that you provide your Personal Information at your own risk.</p>
          <h2 class="font-bold"  id="your-rights-in-using-the-service">Your Rights in Using the Service</h2>
          <p class="p-4">Once your account is created, we grant you a limited, non-exclusive, license to use the Service subject to this Agreement until you close your account voluntarily or until we close your account pursuant to this Agreement. In addition, we grant you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use our mobile applications, for the sole purpose of enabling you to use the Software and enjoy the benefits of the Service, subject to any applicable license terms provided with the mobile applications and this Agreement (including the Apple-Enabled Product Terms set forth below, until your rights are terminated in accordance with such license or this Agreement. You do not obtain any other right or interest in Tourista or the Service.</p>
          <p class="p-4">You retain all of your rights in your Personal Information and other data you submit to us through your account, subject to the terms of this Agreement that provide certain rights to Tourista with respect to such data, as described below, so we can process your data, provide the Service, and take certain other actions described in this Agreement and our <a href="/privacy/">Privacy Policy</a>. Other than this limited license and other rights you grant in this Agreement, Tourista acknowledges and agrees that we do not obtain any right, title, or interest from you under this Agreement in any of your Personal Information or other data you submit to us.</p>
          <h2 class="font-bold"  id="Touristas-rights-in-the-service">Tourista’s Rights in the Service</h2>
          <p class="p-4">By agreeing to this Agreement, and using the Service, you acknowledge and agree that Tourista has a variety of rights in the Service and the data and Content generated by the use of the Service.  These rights include:</p>
          <h3 class="font-bold" >Data Rights</h3>
          <p class="p-4">In order to enable us to operate the Service, we must obtain from you certain rights to process the data you submit to us, including your Personal Information, so that technical actions and data processing we take in operating the Service are not considered legal violations. </p>
          <p class="p-4">Accordingly, by using the Service and uploading data, you are granting Tourista a license to process such data, and to, display, perform, and distribute it to you in your account and on your mobile applications and to modify (for technical purposes, e.g., making sure content is viewable on smartphones as well as computers and other devices) and reproduce such data to enable us to operate the Service. </p>
          <p class="p-4">You agree that these rights and licenses are royalty free, transferable, sub-licensable, worldwide, and irrevocable (for so long as your data is stored with us), and include a right for Tourista to make such data available to, and pass these rights along to, others with which Tourista has contractual relationships related to the provision of the Service, solely for the purpose of providing such services, and to otherwise permit access to or disclose your data to third parties if Tourista determines such access is necessary to comply with its legal obligations or is necessary to perform the Services you requested.</p>
          <h3 class="font-bold" >Intellectual Property Rights</h3>
          <p class="p-4">By using the Service, you acknowledge and agree that all rights in the Service, including the software that is part of the Service (the “Tourista Software”), and all Content, are protected by various intellectual property rights, such as copyright, trademark, patent, trade secret, and other laws, regulations, and treaties, in addition to the terms in this Agreement. Unless otherwise specified by Tourista in a separate license, your right to use any of the Service or the Content is subject to this Agreement and all rights in the Service and Content are reserved by Tourista. You agree that Tourista (and its licensors, as applicable) own all rights, title, and interest in and to the Service (including moral rights and related documentation). In particular, you agree to not modify, create derivative works of, decompile, or otherwise attempt to extract source code from any Tourista Software, unless you are expressly permitted to do so under an open source license, we give you express written permission, or you are otherwise legally permitted to do so notwithstanding this prohibition.  Tourista’s stylized name, logo, and other related graphics, and any service marks and trade names used on or in connection with the Service are Tourista’s trademarks and may not be used without permission, including in connection with any third-party products or services. Other trademarks, service marks and trade names that may appear on or in the Service are the property of their respective owners.</p>
          <h3 class="font-bold" >Feedback</h3>
          <p class="p-4">When you submit any ideas, suggestions, documents, and/or proposals relating to the Service (or other products or services) to Tourista (other than your Personal Information) through email, phone call, a social media channel, chat or text messages through our mobile applications or web sites, or through any other channel or mechanism (collectively, “Contributions”), you acknowledge and agree that: </p>
          <ul>
          <li>
          <p class="p-4">Your Contributions do not contain confidential or proprietary information;</p>
          </li>
          <li>
          <p class="p-4">Tourista is not under any obligation of confidentiality, express or implied, with respect to the Contributions;</p>
          </li>
          <li>
          <p class="p-4">Tourista shall be entitled to use or disclose (or choose not to use or disclose) such Contributions for any purpose, in any way;</p>
          </li>
          <li>
          <p class="p-4">Tourista may have something similar to the Contributions already under consideration or in development;</p>
          </li>
          <li>
          <p class="p-4">Your Contributions automatically become the property of Tourista without any obligation of Tourista to you; and</p>
          </li>
          <li>
          <p class="p-4">You are not entitled to any accounting, compensation or reimbursement of any kind from Tourista under any circumstances.  </p>
          </li>
          </ul>
          <p class="p-4">When Submitting any Contributions, you warrant to us that any holder of any worldwide intellectual property or other right, including moral rights, in such Contributions has completely and effectively waived all such rights and validly and irrevocably granted to you the right to grant rights stated above to us. If a Contribution you make contains Personal Information, Tourista’s rights under this section with respect to the use or disclosure of such Personal Information will be limited as and to the extent required under applicable law.</p>
          <h3 class="font-bold" >Right to Modify the Service</h3>
          <p class="p-4">We retain the right, in our sole discretion, to implement new elements as part of and/or ancillary to the Service, including changes that may affect the previous mode of operation of the Service or Tourista Software. We expect that any such modifications will enhance the overall Service, but it is possible that you may not agree with us. We also reserve the right to establish limits to the nature or type of results available to you, the number of documents obtained, the ability to send or receive messages, the nature or size of any repository of information, the nature of, or your continued ability to access or distribute, your data, Content, or other data, and impose other limitations at any time, with or without notice. For example, we may at some point charge fees for certain components of the Service that did not previously have a fee.</p>
          <p class="p-4">You also acknowledge that a variety of Tourista actions may impair or prevent you from accessing or using the Service at certain times and/or in the same way, for limited periods or permanently, and agree that Tourista has no responsibility or liability as a result of any such actions or results, including, without limitation, for the deletion of, or failure to make available to you, any data or Content. You agree that we shall not be liable to you or to any third party for any modification, suspension, or discontinuance of any part of the Service. </p>
          <h3 class="font-bold" >Right to Engage Third Parties</h3>
          <p class="p-4">Tourista engages certain affiliates or other third parties (“Service Providers”) to provide technical or other services relating to all or part of the Service, and you hereby agree that such involvement by these Service Providers is acceptable. In addition, Tourista may contract with third party sellers of certain related products and other ancillary elements used in the Service, and payment processors to enable payments in your local currency and payment systems. Please see our Privacy Policy to understand the extent to which any affiliate or third party may have access to your Basic User Information, Personal Information, or other data and our Commercial Terms to understand our relationship with any third party product seller or payment processor. </p>
          <h3 class="font-bold" >Right to Use Third-Party Software</h3>
          <p class="p-4">Tourista may from time to time include as part of the Service and Tourista Software computer software supplied by third parties which is utilized by permission of the respective licensors and/or copyright holders on the terms provided by such parties. We provide information about some of this third-party software upon written request and within the particular Tourista Software. Tourista expressly disclaims any warranty or other assurance to you regarding such third-party software. </p>
          <h3 class="font-bold" >Right to Update Our Software</h3>
          <p class="p-4">In connection with any modification of the Service, Tourista may automatically download software updates on your computing devices from time to time with the intention of improving, enhancing, repairing, and/or further developing the Service. Tourista will endeavor to provide you with the option of whether or not to install the update; however, in certain circumstances (e.g., security risks), Tourista may require you to install the update to continue accessing the Service. In all cases, you agree to permit Tourista to deliver these updates to you (and you to receive them) as part of your use of the Service.</p>
          <h3 class="font-bold" >Right to Monitor</h3>
          <p class="p-4">Tourista reserves the right to monitor use of the Service at any time as it deems appropriate and to remove any materials that, in Tourista’s sole discretion, may be illegal, may subject Tourista to liability, may violate this Agreement, or are, in the sole discretion of Tourista, inconsistent with Tourista’s purpose for the Service.</p>
          <h2 class="font-bold"  id="requirements-for-use-of-the-service">Requirements for Use of the Service</h2>
          <p class="p-4">The nature of our Service requires that we impose certain conditions upon your use, and that you acknowledge certain cautions in using the Service, as follows:</p>
          <h3 class="font-bold" >Your Content</h3>
          <p class="p-4">Any content that is submitted to us or to the Service by Users of our Service, or otherwise added, uploaded, distributed, or posted to the Service or any of our social media channels or sites, whether publicly or privately transmitted, including, without limitation, product reviews, survey responses, comments, videos, or written materials (collectively, “User Content”), is the sole responsibility of the person who originated and/or published such User Content. User Content also includes content provided by individuals through third party services such as their social media account (e.g., Facebook, YouTube, Instagram, Twitter, etc.) if such User Content mentions, tags, or otherwise interacts with Tourista, our Content, the Service, or any of our products or Service. If you elect to publish any User Content, you represent that such User Content is accurate, complete, up-to-date, and in publishing such User Content you are acting in compliance with all applicable laws, rules, and regulations. User Content that you submit must not:</p>
          <ul>
          <li>
          <p class="p-4">Contain any content that infringes intellectual property rights, data protection, publicity, or privacy rights of an individual;</p>
          </li>
          <li>
          <p class="p-4">Be defamatory or threatening;</p>
          </li>
          <li>
          <p class="p-4">Impersonate any person or entity;</p>
          </li>
          <li>
          <p class="p-4">Contain unauthorized advertising; or </p>
          </li>
          <li>
          <p class="p-4">Transmit or distribute any virus and/or other code that has contaminating or destructive elements. </p>
          </li>
          </ul>
          <p class="p-4">We make no representations, warranties, or guarantees with respect to any User Content that you access on or through the Service or any of our social media channels or sites.</p>
          <p class="p-4">By submitting User Content through the Service or any of our social media channels or websites, you hereby grant us a worldwide, perpetual, irrevocable, non-exclusive, sub-licensable (through multiple tiers), fully paid, royalty-free license and right to use, copy, transmit, distribute, publicly perform, and display (through all media now known or hereafter created), edit, modify, and make derivative works from your User Content (including, without limitation, your name and likeness, photographs and testimonials) for any purpose whatsoever, commercial or otherwise, without compensation to you. You also hereby do and shall grant each user of our websites, social media channels, and/or the Service a non-exclusive, perpetual license to access your User Content through such websites, social media channels, and/or the Service, and to use, edit, modify, reproduce, distribute, prepare derivative works of, display, and perform such User Content, including after your termination of use of the Service. In addition, you waive any so-called “moral rights” or rights of privacy or publicity in your User Content. For clarity, the foregoing license grants to us and our users does not affect your other ownership or license rights in your User Content, including the right to grant additional licenses to your User Content, unless otherwise agreed in writing. You represent and warrant that you have all rights to grant such licenses to us without infringement or violation of any third-party rights, including, without limitation, any privacy rights, publicity rights, copyrights, trademarks, contract rights, or any other intellectual property or proprietary rights.</p>
          <h3 class="font-bold" >Verify Travel Documents</h3>
          <p class="p-4">When we send you your travel document (visa, photo, or passport), it is important and your responsibility to immediately verify that all the document information is correct and complete.  We will endeavor to correct any deficiency in the documentation, provided that you timely notify us of the problem.  If you fail to observe any deficiency and embark on your travels, you shall be responsible for the consequences arising from such deficiency.  In addition, you must ensure that your passport is valid for at least six months after the start of your trip. You should also ensure that your email service does not block our delivery of travel documents sent via email, due to spam filters or otherwise, so please add our domain to your “white list” of domains, and be sure to check your spam folder if you fear there is a delay in delivery of your documents.  You may also obtain certain travel documents from your account in the Service.</p>
          <h3 class="font-bold" >Prohibitions</h3>
          <p class="p-4">You are prohibited from using or attempting to use the Service for: </p>
          <ul>
          <li>
          <p class="p-4">Any unlawful, unauthorized, fraudulent or malicious purpose;</p>
          </li>
          <li>
          <p class="p-4">In any manner that could damage, disable, overburden, or impair any server, or the network(s) connected to any server;</p>
          </li>
          <li>
          <p class="p-4">In any manner that could interfere with any other party’s use and enjoyment of the Service;</p>
          </li>
          <li>
          <p class="p-4">To gain unauthorized access to any other accounts, computer systems, or networks connected to any server or systems through hacking, password mining or any other means;</p>
          </li>
          <li>
          <p class="p-4">To access systems, data, or information not intended by Tourista to be made accessible to a User To obtain any materials, or information through any means not intentionally made available by Tourista;</p>
          </li>
          <li>
          <p class="p-4">To obtain any materials, or information through any means not intentionally made available by Tourista;</p>
          </li>
          <li>
          <p class="p-4">To reverse engineer, disassemble or decompile any Tourista Software or other technology on the Service; or</p>
          </li>
          <li>
          <p class="p-4">for any use other than the business purpose for which it was intended.</p>
          </li>
          </ul>
          <p class="p-4">In addition, in connection with your use of the Service, you agree you will not: </p>
          <ul>
          <li>
          <p class="p-4">Upload or transmit any message, information, data, text, software or images, or other content that is unlawful, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, or inappropriate with respect to race, gender, sexuality, ethnicity, or other intrinsic characteristic, or that may invade another’s right of privacy or publicity;</p>
          </li>
          <li>
          <p class="p-4">Create a false identity or duplicative accounts for the purpose of misleading others or impersonate any person or entity, including, without limitation, any Tourista representative, or falsely state or otherwise misrepresent your affiliation with a person or entity;</p>
          </li>
          <li>
          <p class="p-4">Upload or transmit any material that you do not have a right to reproduce, display or transmit under any law or under contractual or fiduciary relationships (such as nondisclosure agreements);</p>
          </li>
          <li>
          <p class="p-4">Upload files that contain viruses, trojan horses, worms, time bombs, cancel-bots, corrupted files, spyware or any other similar software or programs that may damage the operation of another’s computer or property of another;</p>
          </li>
          <li>
          <p class="p-4">Delete any author attributions, legal notices, or proprietary designations or labels that you upload to any communication feature;</p>
          </li>
          <li>
          <p class="p-4">Use the Service’s communication features in a manner that adversely affects the availability of its resources to other users (e.g., excessive shouting, use of all caps, or flooding continuous posting of repetitive text);</p>
          </li>
          <li>
          <p class="p-4">Upload or transmit any unsolicited advertising, promotional materials, “junk mail,” “spam,” “chain letters,” “pyramid schemes,” “phishing” or any other form of solicitation, commercial or otherwise;</p>
          </li>
          <li>
          <p class="p-4">Violate any applicable local, state, national or international law;</p>
          </li>
          <li>
          <p class="p-4">Upload or transmit any material that infringes any patent, trademark, service mark, trade secret, copyright or other proprietary rights of any party;</p>
          </li>
          <li>
          <p class="p-4">Delete or revise any material posted by any other person or entity;</p>
          </li>
          <li>
          <p class="p-4">Manipulate or otherwise display the Service by using framing, mirroring or similar navigational technology;</p>
          </li>
          <li>
          <p class="p-4">Probe, scan, test the vulnerability of or breach the authentication measures of, the Service or any related networks or systems;</p>
          </li>
          <li>
          <p class="p-4">Register, subscribe, attempt to register, attempt to subscribe, unsubscribe, or attempt to unsubscribe, any party for any services or any contests, promotions or sweepstakes if you are not expressly authorized by such party to do so;</p>
          </li>
          <li>
          <p class="p-4">Harvest or otherwise collect information about others, including email addresses;</p>
          </li>
          <li>
          <p class="p-4">Use any robot, spider, scraper, or other automated or manual means to access the Service, or copy, download, distribute or reproduce any content or information on the Service; or</p>
          </li>
          <li>
          <p class="p-4">Assist or permit any person in engaging in any of these activities.</p>
          </li>
          </ul>
          <p class="p-4">Tourista reserves the right to take whatever lawful actions it may deem appropriate in response to actual or suspected violations of the foregoing, including, without limitation, the suspension or termination of a User's access and/or account. Tourista may cooperate with legal authorities and/or
          third parties in the investigation of any suspected or alleged crime or civil wrong.</p>
          <p class="p-4">Except as may be provided in the <a href="/privacy/">Privacy Policy</a> or prohibited by applicable law, Tourista reserves the right at all times to disclose any information as Tourista deems necessary to satisfy any applicable law, regulation, legal process, or governmental request, or to edit, refuse to post or to remove any information or materials, in whole or in part, in Tourista’s sole discretion.</p>
          <h3 class="font-bold" >Precautions</h3>
          <p class="p-4">In using the Service, you acknowledge that use of the Service does not guarantee any particular result. This means that: (i) there is no guarantee that the use of the Service and our products will assure you of obtaining the documentation required for your desired travel; and (ii) you are solely responsible for determining the documentation required to enable your desired travel, and the sufficiency of documentation you obtain from our Service for your purposes. Please review the information and educational items we publish on our website, our social media outlets, and in our mobile applications for additional guidance on these issues.</p>
          <h3 class="font-bold" >Reliance on Information Posted</h3>
          <p class="p-4">The information presented on or through the Service or any of our social media channels or websites is made available solely for general information purposes. We do not warrant the accuracy, completeness, timeliness, or usefulness of this information, as government requirements and practices are subject to change from time to time and without notice, including, without limitation, health and safety requirements, travel restrictions, sanctions and embargoes. Any reliance you place on such information is strictly at your own risk. We disclaim all liability and responsibility arising from any reliance placed on such materials by you or any other visitor to our social media channels or websites, or by anyone who may be informed of any of its contents.</p>
          <h2 class="font-bold"  id="third-party-links-content-and-services">Third-Party Links, Content and Services</h2>
          <p class="p-4">We may include or recommend third-party resources, materials, and content and/or links to third-party websites, content, and service providers as part of, or in connection with, the Service. In some cases, Tourista may obtain a commission from certain referrals to third party products and services. While we endeavor to only select high quality and reliable parties to provide any element of our Service, we may have little or no control over such third parties or their products or services and, accordingly, you acknowledge and agree that (i) we are not responsible for the performance of such third parties or their products, services, web sites, or content; (ii) we are not responsible or liable for any content or other materials or performance available from such sites or third parties, and (iii) we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, materials, products, or services. Without limiting the foregoing, you acknowledge that when you use our printed photo pickup service, Tourista is engaging a third party for photo printing and processing and Tourista shall not be responsible for the actions or inactions of any such third party.</p>
          <p class="p-4">In addition, you should carefully review the contract terms and privacy policies of any third-party product or service provider, and their website, products, or services, as you will be subject to such third party’s terms and conditions, and not this Agreement or our Privacy Policy. Your communications or business dealings with any such third party are solely between you and such third party. You agree that Tourista will not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or as the result of our reference to such third party’s publications, products, or services.</p>
          <p class="p-4">Tourista is continually striving to enhance our services to you and we are utilizing artificial intelligence (“AI”) in a variety of areas of our service, including as a tool to enable you to obtain information with greater speed.  The machine learning technology that underlies the interactions you may have with AI-enabled functionality on our websites is in part based upon probabilities.  Consequently, the output generated by these AI-enabled tools may not always be accurate, so you should not rely solely upon a response you obtain from AI-enabled tools when you are seeking specific guidance that may impact how you use our Services. We advise you to confirm output you obtain from AI-enabled tools with an Tourista human representative, particularly where you are making a decision that could impact your ability to obtain a visa or other specific information you will rely upon for have a material legal or other impact upon you or another person. Also note that responses you obtain from AI-enabled tools on our websites may not represent Tourista’s opinion and, if any third-party resource or product is recommended by an AI-enabled tool, Tourista does not necessarily endorse that third-party resource or product. </p>
          <p class="p-4">We welcome and value your input with respect to the third party products, services, and content we present to you, so please let us know if you have any good or bad experience, or particular concerns regarding such third parties and their products and services. We use your input in determining whether to continue or end such relationships.  </p>
          <h1>Commercial Terms</h1>
          <p class="p-4">Our commercial transactions with you, including your purchase of any products from our Service, or the use of any promotional codes, are governed by our Commercial Terms, as they are in effect at the time of such transactions.</p>
          <h2 class="font-bold"  id="sms-terms">SMS Terms</h2>
          <p class="p-4">These SMS Terms govern the provision, receipt, and delivery of text messages by or on behalf of Tourista. Depending on the consent you’ve provided, our text messages (the “Tourista SMS”): </p>
          <ul>
          <li>
          <p class="p-4">Provide you with information you requested from us;</p>
          </li>
          <li>
          <p class="p-4">Provide updates regarding your purchases, such as the status of requested travel visas;</p>
          </li>
          <li>
          <p class="p-4">Respond to your support questions and other inquiries; and/or</p>
          </li>
          <li>
          <p class="p-4">Provide you with marketing or promotional content that may interest you.</p>
          </li>
          </ul>
          <h3 class="font-bold" >E-SIGN Disclosure and Agreement</h3>
          <p class="p-4">By providing your consent to receive Tourista SMS (as described below), you also consent to the use of an electronic record to document your agreement. You may withdraw your consent to the use of the electronic record by emailing us with “Revoke Electronic Consent” in the subject line.</p>
          <p class="p-4">To view and retain a copy of this disclosure or any information regarding your enrollment in this program, you will need (i) a device (such as a computer or mobile phone) with a web browser and Internet access and (ii) either a printer or storage space on such device. For a free paper copy, or to update our records of your contact information, email us at help@Tourista.com with contact information and the address for delivery.</p>
          <h3 class="font-bold" >Agreement and Consent to Receive Tourista SMS</h3>
          <p class="p-4">You can provide us with your consent to receive Tourista SMS in multiple ways, such as by providing us with your phone number during or after registration or purchase, through communications or transactions with us, or by opting into receiving marketing Tourista SMS. By providing your consent, you agree to these SMS Terms.</p>
          <p class="p-4">By providing consent, you authorize us to use automated or non-automated technology to send Tourista SMS to the number associated with your consent. You may opt into receiving Tourista SMS with marketing content, and consent to receiving marketing texts is not a condition of purchase. </p>
          <h3 class="font-bold" >Eligibility</h3>
          <p class="p-4">By consenting to receive Tourista SMS, you represent that you are 18 years of age or older and understand the obligations and agree to these SMS Terms. You further represent that you are the subscriber to the relevant phone number or that you are the customary user of that number on a family or business plan and for which you are authorized to opt into Tourista SMS.</p>
          <h3 class="font-bold" >Costs of Tourista SMS</h3>
          <p class="p-4">Tourista does not charge you for Tourista SMS. But message and data rates may apply, so depending on your plan with your wireless or other applicable provider, you may be charged by your carrier or other applicable provider.</p>
          <h2 class="font-bold"  id="app-stores">App Stores</h2>
          <p class="p-4">If you obtain our mobile applications from a third party website, such the App Store from Apple
          or the Android app market from Google (each, an “App Store”), you will be engaging with that App Store under their respective terms and conditions to which you must agree before downloading the mobile applications from such store, including the Apple, Inc. Device and Application Terms for the Apple App Store. You agree to comply with, and your license to use the mobile applications is conditioned upon your compliance with, such App Store terms and conditions. To the extent such other terms and conditions from such App Store are less restrictive than, or otherwise conflict with, the terms and conditions of this Agreement, the more restrictive or conflicting terms and conditions in this Agreement shall apply.</p>
          <h2 class="font-bold"  id="apple-enabled-product-terms">Apple-Enabled Product Terms</h2>
          <p class="p-4">If you use our mobile applications on a mobile computing device sold by Apple Inc. (“Apple”), that application (“Apple-Enabled Software”), is subject to the additional following terms and conditions:</p>
          <ul>
          <li>
          <p class="p-4">You acknowledge that this Agreement is between Tourista and you only, and not with Apple, and that as between Tourista and Apple, Tourista, not Apple, is solely responsible for the Apple-Enabled Software and the content thereof.</p>
          </li>
          <li>
          <p class="p-4">You may not use the Apple-Enabled Software in any manner that is in violation of, or inconsistent with, the Usage Rules set forth for in the Apple-Enabled Software and the Apple App Store Terms of Service.</p>
          </li>
          <li>
          <p class="p-4">Your license to use the Apple-Enabled Software is limited to a non-transferable license to use the Apple-Enabled Software on an iOS Product that you own or control, as permitted by the Usage Rules set forth in the App Store Terms of Service.</p>
          </li>
          <li>
          <p class="p-4">Apple has no obligation whatsoever to provide any maintenance or support services with respect to the Apple-Enabled Software.</p>
          </li>
          <li>
          <p class="p-4">Apple is not responsible for any product warranties, whether express or implied by law. If the Apple-Enabled Software fails to conform to any applicable warranty, you may notify Apple, and Apple will refund the purchase price for the Apple-Enabled Software to you, if any; and, to the maximum extent permitted by applicable law, Apple will have no other warranty obligation whatsoever with respect to the Apple-Enabled Software, or any other claims, losses, liabilities, damages, costs, or expenses attributable to any failure of the Apple-Enabled Software to conform to any warranty, which will be Tourista’s sole responsibility, to the extent it cannot be disclaimed under applicable law.</p>
          </li>
          <li>
          <p class="p-4">You acknowledge that Tourista, not Apple, is responsible for addressing any claims by you or any third party relating to the Apple-Enabled Software or your possession and/or use of the Apple-Enabled Software, including, but not limited to: (i) product liability claims; (ii) any claim that the Apple-Enabled Software fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation.</p>
          </li>
          <li>
          <p class="p-4">In the event of any third party claim that the Apple-Enabled Software or your possession and use of the Apple-Enabled Software infringes such third party’s intellectual property rights, as between Tourista and Apple, Tourista, not Apple, will be solely responsible for the investigation, defense, settlement, and discharge of any such intellectual property infringement claim.</p>
          </li>
          <li>
          <p class="p-4">You represent and warrant that (i) you are not located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist supporting” country; and (ii) you are not listed on any U.S. Government list of prohibited or restricted parties.</p>
          </li>
          <li>
          <p class="p-4">If you have any questions, complaints or claims with respect to the Apple-Enabled Software, they should be directed to Tourista support by sending an email.</p>
          </li>
          </ul>
          <p class="p-4">You acknowledge and agree that Apple, and Apple’s subsidiaries, are third party beneficiaries of this Agreement with respect to the Apple-Enabled Software, and that, upon your acceptance of the terms and conditions in this Agreement, Apple will have the right (and will be deemed to have accepted the right) to enforce these Apple-Enabled Product Terms against you with respect to the Apple-Enabled Software as a third party beneficiary thereof.</p>
          <h2 class="font-bold"  id="suspension-or-termination">Suspension or Termination</h2>
          <p class="p-4">You may elect to terminate any account you have created at any time by following the directions within your account or emailing us, provided that if you are then subject to the terms of any Service for which you have purchased a subscription, you shall continue to be charged for the cost of such subscription in accordance with the then-applicable terms of this Agreement applicable to such subscription. </p>
          <p class="p-4">Tourista may suspend or terminate your use of the Service or any of our features or services at any time and for any reason without notice, including, for example, for conduct violating this Agreement, or if we discontinue the Service. </p>
          <p class="p-4">Upon any termination of the Service, the User shall no longer have access to the Service or any of the data stored with respect to their account. The provisions of this Agreement concerning Service security, prohibited activities, copyrights, trademarks, user submissions, disclaimers, limitation of liability, arbitration and resolution of Disputes, indemnity and jurisdictional issues shall survive any such termination or any other termination of this Agreement or your relationship with Tourista. You agree that if your use of the Service is terminated pursuant to this Agreement, you will not attempt to use the Service under any other name, real or assumed, and further agree that if you violate this restriction after being terminated, you will indemnify and hold Tourista harmless from any and all liability that Tourista may incur with respect thereto.</p>
          <p class="p-4">Except as otherwise provided in the <a href="/privacy/">Privacy Policy</a> or as required by applicable law (including any obligation to provide access to Personal Information), we have no obligation, whether before or after the termination of your use of the Service, to return or otherwise provide to you or any third party on your behalf any information you provide to us or any other information that we may have that relates to you.</p>
          <h2 class="font-bold"  id="disclaimers">Disclaimers</h2>
          <p class="p-4">Tourista’s Service is designed to assist you with your travel plans, but we cannot, and do not, assume any responsibility for the consequences arising from changes in travel plans or any situation created by circumstances out of our control, including without limitation, the actions or inaction of governments or governmental agencies, and laws and regulations, or practices they establish from time to time. When we provide time periods for processing transactions and delivering documentation, those time periods are estimates and not guarantees, based upon our experience working with various governments and associated agencies and third-party processors. You acknowledge when using our Service that Tourista shall not be responsible for processing times or delays or failures attributable to governments and such other third parties.
          Content and other information contained on the Service is provided by Tourista as a convenience. Users relying on Content or other information from the Service do so at their own risk.</p>
          <p class="p-4">THE SERVICE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. ANY ACCESS TO OR USE OF THE SERVICE IS VOLUNTARY AND AT THE SOLE RISK OF THE USER. Tourista AND EACH THIRD-PARTY OFFERING PRODUCTS OR SERVICES THROUGH THE SERVICE, TO THE FULLEST EXTENT PERMITTED BY LAW, DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT OF THIRD PARTIES’ RIGHTS, SATISFACTORY QUALITY AND FITNESS FOR PARTICULAR PURPOSE WITH REGARD TO THE SERVICE, AND WITH RESPECT TO ANY INFORMATION, CONTENT, PRODUCT, SERVICE, MERCHANDISE, OR OTHER MATERIAL PROVIDED ON OR THROUGH THE SERVICE. Tourista DOES NOT WARRANT OR GUARANTEE THE ACCURACY, COMPLETENESS, RELIABILITY, TIMELINESS, OR USEFULNESS OF THE SERVICE. Tourista DOES NOT WARRANT THAT THE SERVICE WILL FUNCTION WITHOUT DELAYS, DISRUPTIONS, INTERFERENCES, IMPERFECTIONS, CORRUPTION, CYBER ATTACK, VIRUSES, MALWARE, OR ANY ADVERSE INCIDENT.</p>
          <h2 class="font-bold"  id="limitation-of-liability">Limitation of Liability</h2>
          <p class="p-4">TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL Tourista BE LIABLE TO YOU OR ANY OTHER PERSON OR ENTITY FOR ANY INCIDENTAL, INDIRECT, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES, PERSONAL OR BODILY INJURY, EMOTIONAL DISTRESS, OR WRONGFUL DEATH, LOSS OF DATA, LOST PROFITS, OR DAMAGES RESULTING FROM THE USE OF OR INABILITY TO USE THE SERVICE, INCLUDING ANY INFORMATION AND CONTENT MADE AVAILABLE THROUGH THE SERVICE OR ANY SERVICES PERFORMED OR PRODUCTS OFFERED BY THIRD-PARTIES, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT Tourista HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. Tourista SHALL BE LIABLE ONLY TO THE EXTENT OF ACTUAL DAMAGES INCURRED BY YOU, NOT TO EXCEED U.S.$100.
          ANY CLAIMS ARISING IN CONNECTION WITH YOUR USE OF THE SERVICE, CONTENT, OR PRODUCTS OBTAINED THROUGH THE SERVICE MUST BE BROUGHT WITHIN ONE (1) YEAR AFTER THE DATE OF THE EVENT GIVING RISE TO SUCH ACTION. YOU UNDERSTAND AND AGREE THAT YOUR USE OF THE SERVICE, CONTENT, OR PRODUCTS OBTAINED THROUGH THE SERVICE IS PREDICATED UPON YOUR WAIVER OF ANY RIGHT TO PARTICIPATE IN A CLASS ACTION SUIT FOR ANY LOSSES OR DAMAGES RESULTING FROM YOUR USE OF THE SERVICE, CONTENT, OR PRODUCTS OBTAINED THROUGH THE SERVICE.</p>
          <p class="p-4">SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. TO THE EXTENT THAT WE MAY NOT DISCLAIM ANY IMPLIED WARRANTY OR LIMIT ITS LIABILITIES, THE SCOPE AND DURATION OF SUCH WARRANTY AND THE EXTENT OF OUR LIABILITY WILL BE THE MINIMUM PERMITTED UNDER APPLICABLE LAW.</p>
          <h2 class="font-bold"  id="indemnification">Indemnification</h2>
          <p class="p-4">You agree to defend, indemnify, and hold Tourista and any third parties offering products or services through the Service harmless from and against any and all suits, actions, claims, proceedings, damages, settlements, judgments, injuries, liabilities, obligations, losses, risks, costs, and expenses (including, without limitation, attorneys’ fees and litigation expenses) relating to or arising from your use of the Service, your fraud, violation of law, or willful misconduct, any breach by you of this Agreement or your violation of any rights of any other person or entity. We reserve the right to control the defense of any claim by a third party for which we are entitled to indemnification, and you agree to provide us with such cooperation as is reasonably requested by us.</p>
          <h2 class="font-bold"  id="notices">Notices</h2>
          <p class="p-4">Any notices to you from Tourista regarding the Service or this Agreement may be made by email, a posted notice on the Service, or regular mail, in the sole discretion of Tourista.</p>
          <h2 class="font-bold"  id="electronic-communications">Electronic Communications</h2>
          <p class="p-4">When you access or use the Service or send emails, chat, or audio calls through our web site or via our mobile application, or SMS messages to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you via email, Tourista SMS or through the Service. You agree that all agreements, notices, disclosures, and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing. You further agree that any notices provided by us electronically are deemed to be given and received on the date we transmit any such electronic communication as described in this Agreement.</p>
          <h2 class="font-bold"  id="copyright">Copyright</h2>
          <p class="p-4">We respond to clear and complete notices of alleged infringement of copyright, trademark, or other intellectual property laws that satisfy the requirements in this Agreement (which we believe to comply with the United States Digital Millennium Copyright and other applicable laws). If you believe that your intellectual property rights have been violated, please notify our Compliance team at the address provided below, and provide the information required in the instructions set forth below, and we will investigate. </p>
          <h3 class="font-bold" >Notification of Copyright Infringement</h3>
          <p class="p-4">To submit a complete and qualified notice:</p>
          <p class="p-4">If you are a copyright owner, or are authorized to act on behalf of one, or authorized to act under any exclusive right under copyright, please send the following information to our designated copyright agent:</p>
          <ul>
          <li>
          <p class="p-4">Identify the specific copyrighted work that you believe has been infringed upon.</p>
          </li>
          <li>
          <p class="p-4">Identify the web page URL(s) containing the copyrighted work that you claim has been infringed, if any, and, if possible, the contact information for the person you believe responsible for the infringing act in connection with that work. Describe the copyrighted work on the page(s) you believe infringes upon the work identified in item (1) above, including whether the copyrighted work is an image (and describe it in detail) or written work (including the text of the copyrighted work). </p>
          </li>
          <li>
          <p class="p-4">Include the statements:</p>
          </li>
          </ul>
          <ol>
          <li>
          <p class="p-4">“I have a good faith belief that use of the copyrighted work described above as allegedly infringing is not authorized by the owner of the intellectual property rights therein, its agent or the law.”</p>
          </li>
          <li>
          <p class="p-4">“The information in this notice is accurate.”</p>
          </li>
          <li>
          <p class="p-4">“I state under penalty of perjury that I am the owner, or an agent authorized to act on behalf of the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed.”</p>
          </li>
          </ol>
          <ul>
          <li>
          <p class="p-4">Provide your mailing address, telephone number and email address.  If you are submitting a notice on behalf of an entity, provide the entity’s name along with your job title, job position, or role with the entity.</p>
          </li>
          <li>
          <p class="p-4">Provide the full legal name and physical or electronic signature of the person authorized to act on behalf of the owner of the copyright that is allegedly infringed.</p>
          </li>
          </ul>
          <p class="p-4">Deliver the Notice, with all the items completed to the Company’s Designated Copyright Agent:</p>
          <p class="p-4">Copyright Agent
          c/o Document Advisor, Inc.
          8 The Green, STE #5986, Dover, Delaware, 19901, United States
          Attention: Legal Notice (Copyright Agent)</p>
          <p class="p-4">Please note that we may reproduce any legal notice we receive to send to a third party for publication and annotation, and we may post your notice in place of any removed material.</p>
          <p class="p-4">Please be aware that if you knowingly materially misrepresent that material or activity is infringing your copyright, you may be held liable for damages (including costs and attorneys fees) under Section 512(f) of the United States Digital Millennium Copyright Act (“DMCA”) or similar laws in other countries.</p>
          <h3 class="font-bold" >Filing a Counter Notice</h3>
          <p class="p-4">If you have received a notification that copyrighted work has been removed for a copyright complaint, it means a party claiming to be the copyrighted work owner asked us to remove it.  If you believe that the removal of the material is a result of a mistake or misidentification, you can file a counter-notice. </p>
          <p class="p-4">Please send the following information to our designated copyright agent:</p>
          <ul>
          <li>Identification of the copyrighted work taken down.</li>
          <li>The web page URL of the copyrighted work before it was taken down.</li>
          <li>A statement under penalty of perjury that you have a good faith belief the copyrighted work was removed in error.</li>
          <li>A statement that you consent to the jurisdiction of Federal District Court for the judicial district in which your address is located, or if your address is outside of the United States, for any judicial district in which Tourista’s offices may be found, and that you will accept service of process from the person who provided the original complaint.</li>
          <li>Provide your mailing address, telephone number, and email address. If you are filing a counter notice on behalf of an entity, provide the entity’s name along with your job title, job position, or role with the entity.</li>
          <li>Provide your full legal name and physical or electronic signature.</li>
          </ul>
          <p class="p-4">Note: There are legal and financial consequences for filing fraudulent or bad faith counter notices. Before submitting a counter notice, make sure you have a good faith belief that we removed the copyrighted work in error, and that you understand the repercussions of submitting a false claim. </p>
          <p class="p-4">We reserve the right to communicate with you via email or other means.</p>
          <p class="p-4">Note that each owner of intellectual property is responsible for protecting their rights and taking any legal or other action they determine to be appropriate to do so, and Tourista does not accept any obligation to take any particular action to enforce or protect any party’s intellectual property rights on their behalf.</p>
          <h2 class="font-bold"  id="entire-agreement">Entire Agreement</h2>
          <p class="p-4">This Agreement and any other agreements Tourista may post on the Service or that you and Tourista may execute from to time constitute the entire agreement between Tourista and you in connection with your use of the Service and supersede any prior agreements between Tourista and you regarding use of the Service, including prior versions of this Agreement.</p>
          <h2 class="font-bold"  id="binding-arbitration-class-waiver">Binding Arbitration / Class Waiver</h2>
          <p class="p-4">YOU AND WE EXPRESSLY AGREE THAT ANY LEGAL CLAIM, DISPUTE, OR OTHER CONTROVERSY BETWEEN YOU AND US ARISING OUT OF OR OTHERWISE RELATING IN ANY WAY TO Tourista, THE SERVICE, CONTENT, OR ANY OTHER GOODS, SERVICES OR ADVERTISING BY Tourista, INCLUDING ANY PRODUCTS SOLD THROUGH THIRD PARTY SELLERS OR PAYMENTS MADE TO THIRD PARTY PAYMENT PROCESSORS, INCLUDING CONTROVERSIES RELATING TO THE APPLICABILITY, ENFORCEABILITY OR VALIDITY OF ANY PROVISION OF THIS AGREEMENT (COLLECTIVELY “DISPUTES”), SHALL BE RESOLVED IN CONFIDENTIAL BINDING ARBITRATION CONDUCTED BEFORE ONE COMMERCIAL ARBITRATOR FROM THE AMERICAN ARBITRATION ASSOCIATION (“AAA”), RATHER THAN IN A COURT, AS DESCRIBED HEREIN. THE ARBITRATION WILL BE GOVERNED BY THE AAA'S COMMERCIAL ARBITRATION RULES AND, IF THE ARBITRATOR DEEMS THEM APPLICABLE, THE SUPPLEMENTARY PROCEDURES FOR CONSUMER RELATED DISPUTES (COLLECTIVELY “RULES AND PROCEDURES”). YOU ACKNOWLEDGE THAT YOU ARE VOLUNTARILY AND KNOWINGLY FORFEITING YOUR RIGHT TO A TRIAL BY JURY AND TO OTHERWISE PROCEED IN A LAWSUIT IN STATE OR FEDERAL COURT, EXCEPT AS EXPRESSLY PROVIDED HEREIN.</p>
          <p class="p-4">Arbitration uses a neutral arbitrator instead of a judge or jury, and court review of an arbitration award is extremely limited. However, an arbitrator can award the same damages and relief on an individual basis that a court can award to an individual.</p>
          <p class="p-4">Payment of arbitration costs will be governed by the AAA’s fee schedule, unless you are able to show that your portion will be prohibitive as compared to litigation costs, in which case Tourista will pay as much of your arbitration costs as the arbitrator deems necessary to prevent the arbitration from being cost-prohibitive as compared to litigation costs. Tourista also reserves the right in its sole and exclusive discretion to assume responsibility for all arbitration costs imposed by the AAA. You and we each agrees to pay our own respective attorneys’ fees and expenses unless there is a governing statutory provision that requires the prevailing party to be paid attorneys’ fees and expenses. Notwithstanding the foregoing sentence, Tourista will not seek to recover attorneys’ fees or costs incurred in arbitration from you if you are a consumer.
          The arbitration shall be conducted in Newark, Delaware, except that, in the event Newark is not within 100 miles of your residence, the arbitration may be conducted within 100 miles of your residence, unless the parties agree otherwise in writing. The arbitrator’s award shall be final and binding on all parties and may be entered as a judgment in any court of competent jurisdiction.
          For more information on AAA, its Rules and Procedures, and how to file an arbitration claim, you may call AAA at 800-778-7879 or visit the AAA website at <a href="https://www.adr.org" target="_blank" rel="nofollow">https://www.adr.org</a>.</p>
          <p class="p-4">Notwithstanding anything to the contrary herein, to the extent the Dispute arises from: (a) a violation of either party’s intellectual property rights in any manner; and/or (b) any claim related to, or arising from, allegations of theft, piracy, unauthorized use or a violation of the Computer Fraud and Abuse Act; then you and Tourista agree that a party may seek injunctive remedies (or an equivalent type of urgent legal relief) in a state or federal court in Newark, Delaware, and both parties agree to submit to the personal jurisdiction of such courts in connection with such proceedings. In addition to the foregoing, either party may assert an individual action in small claims court for Disputes that are within the scope of such court’s jurisdiction in lieu of arbitration as long as such action remains in such court and advances only on an individual (non-class, non-representative) basis.</p>
          <p class="p-4">ALL DISPUTES SUBJECT TO ARBITRATION UNDER THIS AGREEMENT MUST BE ARBITRATED ON AN INDIVIDUAL BASIS AND NOT ON A CLASS, COLLECTIVE OR REPRESENTATIVE BASIS. NO PARTY MAY BRING ANY CLAIM SUBJECT TO ARBITRATION PURSUANT TO THIS AGREEMENT AS A PRIVATE ATTORNEY GENERAL, IN A REPRESENTATIVE CAPACITY, OR AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS PROCEEDING. THE CLAIMS OF MORE THAN ONE CUSTOMER OR USER CANNOT BE JOINED OR CONSOLIDATED WITH THOSE OF ANY OTHER CUSTOMER OR USER. NO ARBITRATION SHALL BE CONSOLIDATED OR JOINED WITH ANY OTHER ARBITRATION. THE ARBITRATOR MAY AWARD RELIEF (INCLUDING MONETARY, INJUNCTIVE, AND DECLARATORY RELIEF) ONLY IN FAVOR OF THE INDIVIDUAL PARTY SEEKING RELIEF AND ONLY TO THE EXTENT NECESSARY TO PROVIDE RELIEF NECESSITATED BY THAT PARTY’S INDIVIDUAL CLAIM(S). </p>
          <p class="p-4">If a decision is issued stating that applicable law precludes enforcement of any of this paragraph’s limitations as to a particular claim or request for relief, then such claim or request for relief (and only that claim or request for relief) shall be severed from the arbitration and may be brought exclusively in the state or federal courts located in Newark, Delaware, subject to the parties’ respective rights to appeal the decision. All other claims or requests for relief shall be arbitrated. The parties agree that any claims or requests for relief that are severed from an arbitration may not proceed in litigation and shall be stayed until all claims between the parties remaining in arbitration are finally resolved. The parties agree to submit to the personal jurisdiction of the federal and state courts located in Delaware for purposes of resolving any claims or requests for relief severed from arbitration pursuant to this paragraph.</p>
          <p class="p-4">You can opt out of the provisions of this Agreement that require the arbitration of Disputes by providing us a written opt-out notice within 30 days of the “Effective Date” at the top of this Agreement. To opt out, you must send your name, residence address, and email address together with a clear statement that you want to opt out of the requirement to arbitrate disputes with the applicable party to: Document Advisor, Inc., 19111 Collins Avenue, Apt 1405, Sunny Isles Beach, Florida 33160 ATTN: Arbitration Opt-Out.</p>
          <p class="p-4">Before you commence arbitration of a Dispute, you must provide us with a written Notice of Dispute that includes your name, residence address, username (if applicable) and email address associated with your User account (if applicable), a detailed description of the Dispute, and the relief you seek. Before we commence arbitration of a Dispute against you, we will provide a written Notice of Dispute to you with a detailed description of the Dispute and the relief we seek. Any Notice of Dispute you send to us should be sent via email with a subject matter of “Dispute Notice”. If we are unable to resolve a Dispute within 30 days after the applicable Notice of Dispute is received, either party may commence arbitration. Notwithstanding anything to the contrary in this Agreement, if we make any future material modification to any provisions of this Agreement that govern the arbitration or resolution of Disputes, such changes will not apply to any Dispute between you and us for which either party had previously provided a written Notice of Dispute to the other in accordance with this paragraph. Further, if we make any future material changes to the provisions of this Agreement that govern the arbitration or resolution of Disputes, you may reject such changes by sending a written notice of your rejection decision to us via email or by mail to Document Advisor, Inc., 19111 Collins Avenue, Apt 1405, Sunny Isles Beach, Florida 33160 ATTN: Arbitration Opt-Out within 30 days of the effective date of such modifications.</p>
          <h2 class="font-bold"  id="claims-are-time-barred">Claims Are Time-Barred</h2>
          <p class="p-4">You agree that regardless of any statute or law to the contrary or the applicable dispute resolution process, any claim or cause of action you may have arising out of or related to the Service, any products purchased, or any Content must be formally initiated within one (1) year after such claim or cause of action arose or you hereby agree to be forever barred from bringing such claim.
          The provisions of this section, entitled “Claims Are Time-Barred” shall be deemed to constitute a separate written legally binding agreement by and between you and us.</p>
          <h2 class="font-bold"  id="governing-law-venue-severability-of-provisions">Governing Law; Venue; Severability of Provisions</h2>
          <p class="p-4">The validity, interpretation, construction, and performance of this Agreement will be governed by the Federal Arbitration Act and the laws of the State of Delaware, without regard to any conflicts of law provisions.</p>
          <p class="p-4">All parts of this Agreement apply to the maximum extent permitted by law. Our failure to enforce any provision of this Agreement will not constitute a waiver of such right. We both agree that if any provision in this Agreement as written is unenforceable, then such provision will be reformed or replaced with a provision that most closely match the intent of the unenforceable part to the extent permitted by law. Except as otherwise provided in this Agreement, the invalidity of part of this Agreement will not affect the validity and enforceability of the remaining provisions. The section headings are for convenience and do not have any force or effect.</p>
          <h2 class="font-bold"  id="no-agency-relationship">No Agency Relationship</h2>
          <p class="p-4">Neither this Agreement, nor any Content, materials or features of the Service create any partnership, joint venture, employment, or other agency relationship between you and Tourista. You may not enter into any contract on our behalf or bind us in any way.</p>
          <h2 class="font-bold"  id="assignment">Assignment</h2>
          <p class="p-4">You may not assign any of your rights under this Agreement, and any such attempt will be null and void. Tourista may, in its sole discretion, assign or transfer, without further consent or notification, this Agreement or any or all of the contractual rights and obligations pursuant to this Agreement, in whole or in part, to any affiliate of Tourista or to a third party in the event that some or all of Tourista’s business is transferred to such other third party by way of merger, sale of its assets or otherwise.</p>
          <h2 class="font-bold"  id="third-party-beneficiaries">Third Party Beneficiaries</h2>
          <p class="p-4">Any use of third-party software provided in connection with the Service, or any third-party product obtained through the Service, will be governed by, and you shall comply with, the applicable third-party’s commercial terms and, if there are no such commercial terms, by this Agreement. </p>
          <p class="p-4">Except for the foregoing or as otherwise specifically set forth in this Agreement, including with respect to the indemnification obligations contained herein in favor of Tourista and the agreement to arbitration, we hereby expressly agree that there is no intent by either party to create or establish third-party beneficiary status rights or their equivalent in any other referenced individual, subcontractor or third party, and, except as specifically set forth in this Agreement, that no third party shall have any right to enforce any right or enjoy any benefit that is created or established under this Agreement.</p>
          <h2 class="font-bold"  id="changes-to-this-agreement">Changes to this Agreement</h2>
          <p class="p-4">We are continually making modifications and enhancements to our Service and so this Agreement may be amended without prior notice as new features, technology, or legal requirements arise, so please check back from time to time and check the Effective Date set forth above. If we make a significant change, we will notify Users with an account in our Service and, where required, seek your consent.</p>
          <p class="p-4">If we do update this Agreement, you are free to decide whether to accept the updated terms or to stop using our Service; your continued use of the Service after the effectiveness of that update will be deemed to represent your agreement with, and consent to be bound by, the modified Agreement. Except for changes made by us as described here, no other amendment or modification of this Agreement shall be effective unless set forth in a written agreement expressly amending this Agreement and bearing a written signature by you and us. For clarity, email or other communications will not constitute an effective written agreement for this purpose.</p>

          <h2 class="font-bold"  id="contacting-us">Contacting Us</h2>
          <p class="p-4">You may contact us if you have any questions or concerns about this Agreement on <a href="https://wa.link/xng331" target="_blank" rel="nofollow">WhatsApp</a> at +880 1711-925054 or our webchat. We will attempt to respond to your questions or concerns promptly after we receive them.</p>    </div>
            </div>
          </div>
        
      </section>
      <%- include('partials/Bottom') %>
    </main>

<%- include('partials/Footer') %>

